<a href="https://colab.research.google.com/github/uri-ai-lab/Machine-Learning-in-Python-Colab-notebooks/blob/main/Workshop_4_Data_Manipulation_with_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Manipulation with Pandas

Pandas supports 1-D (Series), 2-D (DataFrame), and 3-D (Panel) data structures.  Here we cover DataFrames because they most closely resemble the kind of data tables data scientists mostly look at.

The advantage of Pandas is that it stores the data together with its *metadata*.

The most often used meta data with Pandas are the **column names** and the **index**.

In [ ]:
import pandas
import numpy # for random number generation

In [ ]:
df = pandas.read_csv("https://raw.githubusercontent.com/IndraniMandal/CSC310-S20/master/notes/assets/mammals.csv")

In [ ]:
df

# DataFrame Parts

A dataframe is composed of different parts that work together to give a coherent view of the data:

In [ ]:
df.columns

In [ ]:
df.index

In [ ]:
df.values

We can change the parts of the data.  For example, we can create a new index for our dataframe:

In [ ]:
df.index = ['Dog', 'Duck', 'Frog', 'Bat', 'Bar Stool']

How to rename a specific Columns

In [ ]:
data.rename(columns = {'Mammal' : 'Mammals'}, inplace=True)

In [ ]:
df

# Indexing and Slicing

For array-style indexing Pandas  uses the **loc**, **iloc**, and **ix** indexers.

Using the **iloc** indexer, we can index the underlying array as if it is a simple array using row and column integer values (hence the i in iloc). The DataFrame index and column labels are maintained in the result:

In [ ]:
df

In [ ]:
df.iloc[:2,1:4]

Using the **loc** indexer we can index the underlying data in an array-like style but using the explicit index and column names:

In [ ]:
df.loc[:'Duck','Wings':'Feathers']

Notice that when slicing with an explicit index (i.e., data.loc['a':'c']), the final index is included in the slice, while when slicing with an implicit index (i.e., data.iloc[0:2]), the final index is excluded from the slice.

The indexer **ix** allows the mix of integer and explicit indexing. (This indexer is deprecated from pandas)

# Data Access Patterns

We can use relational and boolean expressions when selecting data from a dataframe.

In order to see that we have to realize that there is another simple way to select frame columns:

In [ ]:
df[['Wings', 'Mammal']] # using a list of column names to access columns

Relational Operators:

In [ ]:
df[df.Wings == 'yes'] # accessing rows for which the equality holds

In [ ]:
df[df.Wings == 'yes'].Mammal # accessing attribute values for rows for which the equality holds

In [ ]:
df[(df.Wings == 'yes') & (df.Fur == 'yes')] # boolean operations

# Filtering

Boolean indexing using a Boolean

In [ ]:
df.Mammal

In [ ]:
df.Mammal.dtype

In [ ]:
df[df.Mammal == False] # or we could have just said df[df.Mammal]

In [ ]:
df

Filtering using **isin()**

In [ ]:
df.index.isin(['Dog','Bat'])

Any Boolean vector can be used as filter.

In [ ]:
v = df.index.isin(['Dog','Bat'])
df[v]

# Combining DataFrames

## Using concat() along axis 1 (columns)

In [ ]:
df1 = df.iloc[:,:2]
df1

In [ ]:
df2 = df.iloc[:,2:]
df2

In [ ]:
pandas.concat([df1,df2],axis=1)

**Note** The two dataframes have to agree on the index!

Creating a new index on df2:

In [ ]:
df2.reset_index(drop=True, inplace=True)
df2

In [ ]:
df1

In [ ]:
pandas.concat([df1,df2],axis=1)

### Using concat() along axis 0 (rows)

In [ ]:
piece1 = df.iloc[:2,:]
piece1

In [ ]:
piece2 = df.iloc[2:,:]
piece2

In [ ]:
pandas.concat([piece1, piece2],axis=0)

In [ ]:
piece1.append(piece2)

**Note** dataframes have to agree on column names!

**append** function work very similarly.

# Missing or Duplicated Data
* Pandas flags missing values with NaN (not a number).
* In most cases, any computations applied to a dataframe with NaNs will ignore the NaNs
* However, it is still a good idea to clean up the dataframe
* In general we have two options to deal with missing data:
 * Either drop the row or columns that has NaNs
 * Or try to substitute a reasonable value for the NaN

Generate a dataset with NaNs

In [ ]:
df = pandas.DataFrame(numpy.random.randn(4, 3), index=['a', 'c', 'd', 'e'],
                  columns=['one', 'two', 'three'])
df

Generating NaNs

In [ ]:
df2 = df.reindex(['a', 'b', 'c', 'd', 'e','f'])
df2

In [ ]:
# find the places where the NaNs are
df2.isnull()

In [ ]:
df2.one[df2.one.isnull()]

In [ ]:
# look at the values of the isnull dataframe
df2.isnull().values

In [ ]:
# find out how many values are missing
# NOTE: sum treats 'True' as 1 and 'False' as 0
df2.isnull().values.sum()

In [ ]:
# drop rows that have NaNs
df2.dropna(how='any',axis=0)

In [ ]:
# dropping columns that have NaNs
# NOTE: this is NOT always a good idea -- empty dataframe!
df2.dropna(how='any',axis=1)

# Replacing Missing Data

We can also try to estimate the missing data - **impute** it.

We replace the missing values by the means of each column.

In [ ]:
df2

In [ ]:
# compute the mean of each column
df2.mean()

In [ ]:
# fill the missing values in each column
for c in df.columns:
    df2[c].fillna(df[c].mean(), inplace=True)

df2

# Broadcasting

Binary arithmetic operators are applied element by element to dataframes assuming equal sized dataframes.

Broadcasting refers to the fact that Python will reuse elements of the smaller dataframe or will reuse a scalar in order to complete the binary operation.

In [ ]:
df = pandas.DataFrame([[1,2],[3,4]])
df

In [ ]:
# element by element operation
df + df

In [ ]:
# broadcasting the smaller vector
# NOTE: each element of the vector is applied to
#       a column in the dataframe
df + [10, 20]

In [ ]:
# broadcasting a scalar
# NOTE: the scalar is applied to ALL elements
#       of the dataframe
df + 10

In [ ]:
# we can now say things like this
df + df == 2*df

# Duplicate Data

Identify and remove duplicate rows in a DataFrame

In [ ]:
# make a dataframe with duplicate rows 'b' and 'e'
df2.iloc[4,:] = df2.iloc[1,:]
df2

In [ ]:
# check if there is duplication
df2.duplicated()

In [ ]:
df2[df2.duplicated()]

In [ ]:
# drop e!
df2.drop_duplicates()

By default **duplicated()** and **drop_duplicates()** keep the first and identify other reoccuring instances as duplicates.

# Reading

* 2 [The Basics of NumPy Arrays](https://jakevdp.github.io/PythonDataScienceHandbook/02.02-the-basics-of-numpy-arrays.html)
* 3.2 [Data Indexing and Selection](https://jakevdp.github.io/PythonDataScienceHandbook/03.02-data-indexing-and-selection.html)
* 3.3 [Operating on Data in Pandas](https://jakevdp.github.io/PythonDataScienceHandbook/03.03-operations-in-pandas.html)
* 3.4 [Handling Missing Data](https://jakevdp.github.io/PythonDataScienceHandbook/03.04-missing-values.html)
* 3.6 [Combining Datasets: Concat and Append](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html)
* 3.7 [Combining Datasets: Merge and Join](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html)
* 3.8 [Aggregation and Grouping](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html)