<a href="https://colab.research.google.com/github/uri-ai-lab/Machine-Learning-in-Python-Colab-notebooks/blob/main/Workshop_2_Ipython_and_data_structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Ipython and Data Structures

##Markdown Guide

---
###Headers

```
# H1
## H2
### H3
#### H4
##### H5
###### H6
```

# H1
## H2
### H3
#### H4
##### H5
###### H6

---
### Bold, Italic and Underline
```
**Bold**

*Italic*

<u>Underline</u>
```
**Bold**

*Italic*

<u>Underline</u>

---
###Lists

```markdown
1. First ordered list item
2. Another item
  * Unordered sub-list.
1. Actual numbers don't matter, just that it's a number
  1. Ordered sub-list
4. And another item.

   Some text that should be aligned with the above item.

* Unordered list can use asterisks
* One
* Two
```

1. First ordered list item
2. Another item
  * Unordered sub-list.
1. Actual numbers don't matter, just that it's a number
  1. Ordered sub-list
4. And another item.

   Some text that should be aligned with the above item.

* Unordered list can use asterisks
* One
* Two

---
###Images

Here's a logo (hover to see the title text):

```
Inline-style:
![alt text](https://github.com/adam-p/markdown-here/raw/master/src/common/images/icon48.png "Logo Title Text 1")

Reference-style:
![alt text][logo]

[logo]: https://github.com/adam-p/markdown-here/raw/master/src/common/images/icon48.png "Logo Title Text 2"
```

Inline-style:
![alt text](https://github.com/adam-p/markdown-here/raw/master/src/common/images/icon48.png "Logo Title Text 1")

Reference-style:
![alt text][logo2]

[logo2]: https://github.com/adam-p/markdown-here/raw/master/src/common/images/icon48.png "Logo Title Text 2"

---
###Tables

```markdown
First column name  | Second column name
-------------------|------------------
Row 1, Col 1       | Row 1, Col 2
Row 2, Col 1       | Row 2, Col 2

```

First column name  | Second column name
-------------------|--------------------
Row 1, Col 1       | Row 1, Col 2
Row 2, Col 1       | Row 2, Col 2

---

###Horizontal rules
```markdown
---
```

---

---

###Equations

```markdown
$y=x^2$

$e^{i\pi} + 1 = 0$

$e^x=\sum_{i=0}^\infty \frac{1}{i!}x^i$

$\frac{n!}{k!(n-k)!} = {n \choose k}$

$A_{m,n} =
 \begin{pmatrix}
  a_{1,1} & a_{1,2} & \cdots & a_{1,n} \\
  a_{2,1} & a_{2,2} & \cdots & a_{2,n} \\
  \vdots  & \vdots  & \ddots & \vdots  \\
  a_{m,1} & a_{m,2} & \cdots & a_{m,n}
 \end{pmatrix}$
```

$y=x^2$

$e^{i\pi} + 1 = 0$

$e^x=\sum_{i=0}^\infty \frac{1}{i!}x^i$

$\frac{n!}{k!(n-k)!} = {n \choose k}$

$A_{m,n} =
 \begin{pmatrix}
  a_{1,1} & a_{1,2} & \cdots & a_{1,n} \\
  a_{2,1} & a_{2,2} & \cdots & a_{2,n} \\
  \vdots  & \vdots  & \ddots & \vdots  \\
  a_{m,1} & a_{m,2} & \cdots & a_{m,n}
 \end{pmatrix}$

---
### Useful references

* [Github Markdown basics](https://help.github.com/articles/markdown-basics/)
* [Github flavored Markdown](https://help.github.com/articles/github-flavored-markdown/)
* [Original Markdown spec: Syntax](http://daringfireball.net/projects/markdown/syntax)
* [Original Markdown spec: Basics](http://daringfireball.net/projects/markdown/basics)
* [marked.js library used by Colab](https://github.com/chjj/marked)
* [LaTex mathematics for equations](https://en.wikibooks.org/wiki/LaTeX/Mathematics)

## Python Data Structures

###Built-in Data Types

Python has the following data types built-in by default, in these categories:

```python
Text Type:	     str
Numeric Types:	 int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	  dict
Set Types:	     set, frozenset
Boolean Type:	  bool
Binary Types:	  bytes, bytearray, memoryview
NoneType:	      NoneType
```

In [ ]:
#Getting the data type
x = "apple"
print(type(x))

<class 'str'>

###What is a Data Structure?
Organizing, managing and storing data is important as it enables easier access and efficient modifications. Data Structures allows you to organize your data in such a way that enables you to store collections of data, relate them and perform operations on them accordingly.

###Built-in Data Structures

* List
* Dictionary
* Tuple
* Set

###Lists
Lists are used to store data of different data types in a sequential manner.

####Creating a list
To create a list, you use the square brackets and add elements into it accordingly. If you do not pass any elements inside the square brackets, you get an empty list as the output.

In [ ]:
my_list = [] #create empty list
print(my_list)
my_list = [1, 2, 3, 'example', 3.132] #creating list with data
print(my_list)

####Adding Elements
Adding the elements in the list can be achieved using the append(), extend() and insert() functions.

* The append() function adds all the elements passed to it as a single element.
* The extend() function adds the elements one-by-one into the list.
* The insert() function adds the element passed to the index value and increase the size of the list too.

In [ ]:
my_list = [1, 2, 3]
print(my_list)
my_list.append([555, 12]) #add as a single element
print(my_list)
my_list.extend([234, 'more_example']) #add as different elements
print(my_list)
my_list.insert(1, 'insert_example') #add element i
print(my_list)

####Deleting Elements
* To delete elements, use the del keyword which is built-in into Python but this does not return anything back to us.
* If you want the element back, you use the pop() function which takes the index value.
* To remove an element by its value, you use the remove() function.

In [ ]:
my_list = [1, 2, 3, 'example', 3.132, 10, 30]
del my_list[5] #delete element at index 5
print(my_list)
my_list.remove('example') #remove element with value
print(my_list)
a = my_list.pop(1) #pop element from list
print('Popped Element: ', a, ' List remaining: ', my_list)
my_list.clear() #empty the list
print(my_list)

####Accessing Elements
Accessing elements is the same as accessing Strings in Python. You pass the index values and hence can obtain the values as needed.

In [ ]:
my_list = [1, 2, 3, 'example', 3.132, 10, 30]
for element in my_list: #access elements one by one
    print(element)
print(my_list) #access all elements
print(my_list[3]) #access index 3 element
print(my_list[0:2]) #access elements from 0 to 1 and exclude 2
print(my_list[::-1]) #access elements in reverse

1
2
3
example
3.132
10
30
[1, 2, 3, 'example', 3.132, 10, 30]
example
[1, 2]
[30, 10, 3.132, 'example', 3, 2, 1]

####Other Functions
You have several other functions that can be used when working with lists.

* The len() function returns to us the length of the list.
* The index() function finds the index value of value passed where it has been encountered the first time.
* The count() function finds the count of the value passed to it.
* The sorted() and sort() functions do the same thing, that is to sort the values of the list. The sorted() has a return type whereas the sort() modifies the original list.

In [ ]:
my_list = [1, 2, 3, 10, 30, 10]
print(len(my_list)) #find length of list
print(my_list.index(10)) #find index of element that occurs first
print(my_list.count(10)) #find count of the element
print(sorted(my_list)) #print sorted list but not change original
my_list.sort(reverse=True) #sort original list
print(my_list)

6
3
2
[1, 2, 3, 10, 10, 30]
[30, 10, 10, 3, 2, 1]

###Dictionary

[Python Dictionary](https://www.w3schools.com/python/python_dictionaries.asp)

###Tuple

[Python Tuple](https://www.w3schools.com/python/python_tuples.asp)

###Set

[Python Set](https://www.w3schools.com/python/python_sets.asp)

##Importing Data to Colab

Data science is nothing without data. Following tutorial will show you 3 ways to load a CSV file into Colab and insert it into a Pandas dataframe.

In [ ]:
import pandas as pd

### 1) From Github (Files < 25MB)
The easiest way to upload a CSV file is from your GitHub repository. Click on the dataset in your repository, then click on View Raw. Copy the link to the raw dataset and store it as a string variable called url in Colab as shown below (a cleaner method but it’s not necessary). The last step is to load the url into Pandas read_csv to get the dataframe.

[sample CSV](https://github.com/curran/data)

In [ ]:
url = 'https://raw.githubusercontent.com/curran/data/gh-pages/geonames/cities100000.csv'
test1 = pd.read_csv(url)
# Dataset is now stored in a Pandas Dataframe

In [ ]:
test1.head()

           name  latitude  longitude  population
0      Shanghai  31.22222  121.45806    22315474
1  Buenos Aires -34.61315  -58.37723    13076300
2        Mumbai  19.07283   72.88261    12691836
3   Mexico City  19.42847  -99.12766    12294193
4       Beijing  39.90750  116.39723    11716620

### 2) From a local drive
To upload from your local drive, start with the following code:

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving cities100000.csv to cities100000.csv


It will prompt you to select a file. Click on “Choose Files” then select and upload the file. Wait for the file to be 100% uploaded. You should see the name of the file once Colab has uploaded it.

Finally, type in the following code to import it into a dataframe (make sure the filename matches the name of the uploaded file).

In [ ]:
import io
df2 = pd.read_csv(io.BytesIO(uploaded['cities100000.csv']))
# Dataset is now stored in a Pandas Dataframe

In [ ]:
df2.tail()

            name  latitude  longitude  population
4267       Trier  49.75565    6.63935      100129
4268    Temecula  33.49364 -117.14836      100097
4269  Punta Cana  18.58182  -68.40431      100023
4270   Worcester  52.18935   -2.22001      100023
4271       Telde  27.99243  -15.41915      100015

### 3) From Google Drive

In your Google Drive (“My Drive”), create a folder called data in the location of your choosing. This is where you will upload your data.

From a Colab notebook, type the following:

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

These commands will bring you to a Google Authentication step. You should see a screen with Google Drive File Stream wants to access your Google Account. After you allow permission, copy the given verification code and paste it in the box in Colab.

In the notebook, click on the charcoal > on the top left of the notebook and click on Files. Locate the data folder you created earlier and find your data. Right-click on your data and select Copy Path. Store this copied path into a variable and you are ready to go.

In [ ]:
path = "/content/drive/MyDrive/AI lab workshops/Workshop notebooks/cities100000.csv"
df_bonus = pd.read_csv(path)
# Dataset is now stored in a Pandas Dataframe

In [ ]:
df_bonus.head()

           name  latitude  longitude  population
0      Shanghai  31.22222  121.45806    22315474
1  Buenos Aires -34.61315  -58.37723    13076300
2        Mumbai  19.07283   72.88261    12691836
3   Mexico City  19.42847  -99.12766    12294193
4       Beijing  39.90750  116.39723    11716620